<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <p>Add movement</p>
        <form id="add_movement" action="add_filename">
            <label for="add_filename">Name of the movement: </label>
            <input type="text" id="add_filename" name="add_filename"><br>

            <input type="submit" value="Start">
        </form>

        <p>Play movement</p>
        <form id="load_movement" action="load_filename">
        <label for="load_filename">Name of the movement: </label>
        <select name="load_filename" id="load_filename" form="load_movement">
            {% for f in filename_list %}
                <option value="{{ f }}">{{ f }}</option>
            {% endfor %}
        </select><br>   

        <input type="submit" value="Play">
        </form>
    </body>     
</html>
